@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-white text-neutral-900 antialiased;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .border-gradient {
    border-image: linear-gradient(to right, #E7E5E4, transparent) 1;
  }

  /* Gradient Animation for Glass Button */
  @keyframes gradient {
    0%, 100% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }

  .animate-gradient {
    animation: gradient 3s ease infinite;
  }
}
